<a href="https://colab.research.google.com/github/china-srun/Machine-Learning-Data-Wrangling/blob/main/dataset_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sklearn #machine learning
import numpy as np # computations
import pandas as pd # data management

In [3]:
#1. Load the dataset
dataset = pd.read_csv("https://raw.githubusercontent.com/china-srun/Machine-Learning-Data-Wrangling/main/Top_650_FIFA.csv")
dataset.head(5)

,Unnamed: 0,short_name,long_name,overall,age,dob,height_cm,weight_kg,club_position,Position,...,shooting,passing,dribbling,defending,physic,attacking,skill,movement,power,mentality
0,0,L. Messi,Lionel Andrés Messi Cuccittini,93,34,1987-06-24,170,72,RW,Forward,...,92.0,91.0,95.0,34.0,65.0,85.8,94.0,90.2,77.8,73.833333
1,1,R. Lewandowski,Robert Lewandowski,92,32,1988-08-21,185,81,ST,Forward,...,92.0,79.0,86.0,44.0,82.0,86.0,81.4,81.6,84.8,80.666667
2,2,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,91,36,1985-02-05,187,83,ST,Forward,...,94.0,80.0,88.0,34.0,75.0,87.6,83.6,85.4,87.2,74.333333
3,3,Neymar Jr,Neymar da Silva Santos Júnior,91,29,1992-02-05,175,68,LW,Forward,...,83.0,86.0,94.0,37.0,63.0,80.6,89.2,90.2,71.8,77.000000
4,4,K. De Bruyne,Kevin De Bruyne,91,30,1991-06-28,181,70,RCM,Midfield,...,86.0,93.0,88.0,64.0,78.0,81.4,88.0,80.0,81.6,82.666667

Warning: Total number of columns (29) exceeds max_columns (20) limiting to first (20) columns.

In [4]:
#dimension: rows, colums
dataset.shape

(652, 29)

In [5]:
#describe the dataset
dataset.describe()

,Unnamed: 0,overall,age,height_cm,weight_kg,club_jersey_number,weak_foot,skill_moves,pace,shooting,passing,dribbling,defending,physic,attacking,skill,movement,power,mentality
count,652.00000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000
mean,325.50000,80.757669,27.776074,181.940184,76.455521,14.605828,3.274540,2.981595,74.065505,68.272597,73.292443,77.007712,62.009510,73.087370,62.432822,65.394479,72.036503,69.651534,65.086656
std,188.36047,3.214242,4.133581,7.100623,7.531777,13.841416,0.775842,1.051500,10.352396,12.543588,7.350904,7.063509,17.394831,7.723627,18.308762,18.803734,10.891396,9.959120,13.579516
min,0.00000,77.000000,18.000000,158.000000,55.000000,1.000000,1.000000,1.000000,32.000000,25.000000,44.000000,49.000000,20.000000,45.000000,8.600000,14.400000,31.000000,37.200000,21.833333
25%,162.75000,78.000000,25.000000,177.000000,71.000000,6.000000,3.000000,2.000000,69.000000,64.000000,70.000000,75.000000,45.000000,69.000000,60.150000,62.550000,65.600000,65.750000,63.500000
50%,325.50000,80.000000,28.000000,182.000000,76.000000,10.000000,3.000000,3.000000,73.898894,70.000000,73.000000,78.000000,63.000000,73.292259,68.600000,71.700000,74.400000,72.200000,69.000000
75%,488.25000,82.000000,30.000000,187.000000,82.000000,21.000000,4.000000,4.000000,81.000000,77.000000,78.000000,82.000000,77.000000,79.000000,73.400000,77.200000,80.200000,76.600000,73.166667
max,651.00000,93.000000,43.000000,201.000000,100.000000,99.000000,5.000000,5.000000,97.000000,94.000000,93.000000,95.000000,91.000000,90.000000,87.600000,94.000000,92.400000,87.200000,83.500000

In [8]:
#check the variable (numerical / categorical)
numerical_variable = dataset.columns[dataset.dtypes != 'object'] # look for numerical data
dataset[numerical_variable].head(5)

,Unnamed: 0,overall,age,height_cm,weight_kg,club_jersey_number,weak_foot,skill_moves,pace,shooting,passing,dribbling,defending,physic,attacking,skill,movement,power,mentality
0,0,93,34,170,72,30,4,4,85.0,92.0,91.0,95.0,34.0,65.0,85.8,94.0,90.2,77.8,73.833333
1,1,92,32,185,81,9,4,4,78.0,92.0,79.0,86.0,44.0,82.0,86.0,81.4,81.6,84.8,80.666667
2,2,91,36,187,83,7,4,5,87.0,94.0,80.0,88.0,34.0,75.0,87.6,83.6,85.4,87.2,74.333333
3,3,91,29,175,68,10,5,5,91.0,83.0,86.0,94.0,37.0,63.0,80.6,89.2,90.2,71.8,77.000000
4,4,91,30,181,70,17,5,4,76.0,86.0,93.0,88.0,64.0,78.0,81.4,88.0,80.0,81.6,82.666667

In [9]:
#check the variable (numerical / categorical)
categorical_variable = dataset.columns[dataset.dtypes == 'object'] # look for categorical data
dataset[categorical_variable].head(5)

,short_name,long_name,dob,club_position,Position,club_name,league_name,nationality_name,preferred_foot,player_traits
0,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,RW,Forward,Paris Saint-Germain,French Ligue 1,Argentina,Left,"Finesse Shot, Long Shot Taker (AI), Playmaker ..."
1,R. Lewandowski,Robert Lewandowski,1988-08-21,ST,Forward,FC Bayern München,German 1. Bundesliga,Poland,Right,"Solid Player, Finesse Shot, Outside Foot Shot,..."
2,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,1985-02-05,ST,Forward,Manchester United,English Premier League,Portugal,Right,"Power Free-Kick, Flair, Long Shot Taker (AI), ..."
3,Neymar Jr,Neymar da Silva Santos Júnior,1992-02-05,LW,Forward,Paris Saint-Germain,French Ligue 1,Brazil,Right,"Injury Prone, Flair, Speed Dribbler (AI), Play..."
4,K. De Bruyne,Kevin De Bruyne,1991-06-28,RCM,Midfield,Manchester City,English Premier League,Belgium,Right,"Injury Prone, Leadership, Early Crosser, Long ..."

In [12]:
#missing values
dataset.isnull().head(5)

#False: no missing values
#True: we have the missing values

,Unnamed: 0,short_name,long_name,overall,age,dob,height_cm,weight_kg,club_position,Position,...,shooting,passing,dribbling,defending,physic,attacking,skill,movement,power,mentality
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [13]:
#find out the length of the dataset
len(dataset)

652

In [16]:
# find out the percentage of missing value in numerical variables
dataset[numerical_variable].isnull().sum() / len(dataset)

Unnamed: 0            0.0
overall               0.0
age                   0.0
height_cm             0.0
weight_kg             0.0
club_jersey_number    0.0
weak_foot             0.0
skill_moves           0.0
pace                  0.0
shooting              0.0
passing               0.0
dribbling             0.0
defending             0.0
physic                0.0
attacking             0.0
skill                 0.0
movement              0.0
power                 0.0
mentality             0.0
dtype: float64

In [17]:
# find out the percentage of missing value in categorical variables
dataset[categorical_variable].isnull().sum() / len(dataset)

short_name          0.0
long_name           0.0
dob                 0.0
club_position       0.0
Position            0.0
club_name           0.0
league_name         0.0
nationality_name    0.0
preferred_foot      0.0
player_traits       0.0
dtype: float64

In [25]:
#replace
dataset['Position'].replace('Forward', 'forward')
dataset.replace('Midfield', 'middle').head(5)
dataset['age'].replace([34, 29], [38, 25]).head(15)

0     38
1     32
2     36
3     25
4     30
5     28
6     22
7     35
8     25
9     27
10    30
11    25
12    22
13    28
14    27
Name: age, dtype: int64

In [30]:
# create the rows and add it with the original dataset
row_insert = pd.Series(['S. China', 'Srun Junior China the Third', 69, 18, '2003-06-19'], index = ['short_name', 'long_name', 'overall', 'age', 'dob'])
dataset.append(row_insert, ignore_index=True)

,Unnamed: 0,short_name,long_name,overall,age,dob,height_cm,weight_kg,club_position,Position,...,shooting,passing,dribbling,defending,physic,attacking,skill,movement,power,mentality
0,0.0,L. Messi,Lionel Andrés Messi Cuccittini,93,34,1987-06-24,170.0,72.0,RW,Forward,...,92.0,91.0,95.0,34.0,65.0,85.8,94.0,90.2,77.8,73.833333
1,1.0,R. Lewandowski,Robert Lewandowski,92,32,1988-08-21,185.0,81.0,ST,Forward,...,92.0,79.0,86.0,44.0,82.0,86.0,81.4,81.6,84.8,80.666667
2,2.0,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,91,36,1985-02-05,187.0,83.0,ST,Forward,...,94.0,80.0,88.0,34.0,75.0,87.6,83.6,85.4,87.2,74.333333
3,3.0,Neymar Jr,Neymar da Silva Santos Júnior,91,29,1992-02-05,175.0,68.0,LW,Forward,...,83.0,86.0,94.0,37.0,63.0,80.6,89.2,90.2,71.8,77.000000
4,4.0,K. De Bruyne,Kevin De Bruyne,91,30,1991-06-28,181.0,70.0,RCM,Midfield,...,86.0,93.0,88.0,64.0,78.0,81.4,88.0,80.0,81.6,82.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,648.0,Wilson Manafá,Wilson Miguéis Manafá Jancó,77,26,1994-07-23,177.0,69.0,LB,Defender,...,60.0,67.0,76.0,70.0,69.0,65.0,64.2,83.2,65.0,67.333333
649,649.0,J. Clauss,Jonathan Clauss,77,28,1992-09-25,178.0,67.0,RWB,Defender,...,66.0,70.0,76.0,67.0,71.0,66.0,67.0,80.0,71.4,64.166667
650,650.0,Galeno,Wenderson Rodrigues do Nascimento Galeno,77,23,1997-10-22,179.0,62.0,LM,Midfield,...,70.0,66.0,82.0,32.0,66.0,60.4,72.2,83.4,71.6,63.666667
651,651.0,J. Lascelles,Jamaal Lascelles,77,27,1993-11-11,188.0,83.0,CB,Defender,...,35.0,51.0,56.0,77.0,79.0,51.0,44.6,60.2,62.6,52.166667
652,NaN,S. China,Srun Junior China the Third,69,18,2003-06-19,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
#call the row
#datasetname.iloc[] - we can call the specific row based on the index
dataset.iloc[0]
dataset.iloc[:15]
dataset.iloc[-1]

Unnamed: 0                                 651
short_name                        J. Lascelles
long_name                     Jamaal Lascelles
overall                                     77
age                                         27
dob                                 1993-11-11
height_cm                                  188
weight_kg                                   83
club_position                               CB
Position                              Defender
club_name                     Newcastle United
league_name             English Premier League
nationality_name                       England
club_jersey_number                           6
preferred_foot                           Right
weak_foot                                    3
skill_moves                                  2
player_traits         Leadership, Power Header
pace                                      58.0
shooting                                  35.0
passing                                   51.0
dribbling                                 56.0
defending                                 77.0
physic                                    79.0
attacking                                 51.0
skill                                     44.6
movement                                  60.2
power                                     62.6
mentality                            52.166667
Name: 651, dtype: object

In [40]:
#loc - to call the specific values,
#index
dataset = dataset.set_index(dataset['Position'])
dataset.loc['Forward']

,Unnamed: 0,short_name,long_name,overall,age,dob,height_cm,weight_kg,club_position,Position,...,shooting,passing,dribbling,defending,physic,attacking,skill,movement,power,mentality
Position,,,,,,,,,,,,,,,,,,,,,
Forward,0,L. Messi,Lionel Andrés Messi Cuccittini,93,34,1987-06-24,170,72,RW,Forward,...,92.0,91.0,95.0,34.0,65.0,85.8,94.0,90.2,77.8,73.833333
Forward,1,R. Lewandowski,Robert Lewandowski,92,32,1988-08-21,185,81,ST,Forward,...,92.0,79.0,86.0,44.0,82.0,86.0,81.4,81.6,84.8,80.666667
Forward,2,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,91,36,1985-02-05,187,83,ST,Forward,...,94.0,80.0,88.0,34.0,75.0,87.6,83.6,85.4,87.2,74.333333
Forward,3,Neymar Jr,Neymar da Silva Santos Júnior,91,29,1992-02-05,175,68,LW,Forward,...,83.0,86.0,94.0,37.0,63.0,80.6,89.2,90.2,71.8,77.000000
Forward,6,K. Mbappé,Kylian Mbappé Lottin,91,22,1998-12-20,182,73,ST,Forward,...,88.0,80.0,92.0,36.0,77.0,82.2,80.8,92.4,82.2,73.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Forward,618,A. Nwakaeme,Anthony Nuatuzor Nwakaeme,77,32,1989-03-21,185,80,LW,Forward,...,76.0,74.0,79.0,39.0,80.0,72.6,73.4,74.8,80.4,61.833333
Forward,624,Arthur Cabral,Arthur Mendonça Cabral,77,23,1998-04-25,186,89,ST,Forward,...,77.0,63.0,74.0,31.0,78.0,71.4,59.6,71.6,78.4,62.666667
Forward,628,S. Weissman,Shon Zalman Weissman,77,25,1996-02-14,174,79,ST,Forward,...,79.0,65.0,71.0,32.0,70.0,73.8,62.6,74.6,73.0,67.000000
Forward,633,N. González,Nicolás Iván González,77,23,1998-04-06,180,72,LW,Forward,...,71.0,64.0,82.0,45.0,60.0,72.4,64.4,81.4,63.8,67.833333
Forward,645,M. Terrier,Martin Terrier,77,24,1997-03-04,184,73,RS,Forward,...,77.0,74.0,76.0,35.0,66.0,73.0,72.0,76.8,73.0,62.833333

In [41]:
#rename
dataset.rename(columns={'dob' : 'date of birth'}).head(5)

,Unnamed: 0,short_name,long_name,overall,age,date of birth,height_cm,weight_kg,club_position,Position,...,shooting,passing,dribbling,defending,physic,attacking,skill,movement,power,mentality
Position,,,,,,,,,,,,,,,,,,,,,
Forward,0,L. Messi,Lionel Andrés Messi Cuccittini,93,34,1987-06-24,170,72,RW,Forward,...,92.0,91.0,95.0,34.0,65.0,85.8,94.0,90.2,77.8,73.833333
Forward,1,R. Lewandowski,Robert Lewandowski,92,32,1988-08-21,185,81,ST,Forward,...,92.0,79.0,86.0,44.0,82.0,86.0,81.4,81.6,84.8,80.666667
Forward,2,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,91,36,1985-02-05,187,83,ST,Forward,...,94.0,80.0,88.0,34.0,75.0,87.6,83.6,85.4,87.2,74.333333
Forward,3,Neymar Jr,Neymar da Silva Santos Júnior,91,29,1992-02-05,175,68,LW,Forward,...,83.0,86.0,94.0,37.0,63.0,80.6,89.2,90.2,71.8,77.000000
Midfield,4,K. De Bruyne,Kevin De Bruyne,91,30,1991-06-28,181,70,RCM,Midfield,...,86.0,93.0,88.0,64.0,78.0,81.4,88.0,80.0,81.6,82.666667

In [49]:
#find the max value of a column
print("Oldest player's age is ", dataset['age'].max(), "years old.")

Oldest player's age is  43 years old.

In [51]:
#delete col
dataset.drop('age', axis=1).head(5)

,Unnamed: 0,short_name,long_name,overall,dob,height_cm,weight_kg,club_position,Position,club_name,...,shooting,passing,dribbling,defending,physic,attacking,skill,movement,power,mentality
Position,,,,,,,,,,,,,,,,,,,,,
Forward,0,L. Messi,Lionel Andrés Messi Cuccittini,93,1987-06-24,170,72,RW,Forward,Paris Saint-Germain,...,92.0,91.0,95.0,34.0,65.0,85.8,94.0,90.2,77.8,73.833333
Forward,1,R. Lewandowski,Robert Lewandowski,92,1988-08-21,185,81,ST,Forward,FC Bayern München,...,92.0,79.0,86.0,44.0,82.0,86.0,81.4,81.6,84.8,80.666667
Forward,2,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,91,1985-02-05,187,83,ST,Forward,Manchester United,...,94.0,80.0,88.0,34.0,75.0,87.6,83.6,85.4,87.2,74.333333
Forward,3,Neymar Jr,Neymar da Silva Santos Júnior,91,1992-02-05,175,68,LW,Forward,Paris Saint-Germain,...,83.0,86.0,94.0,37.0,63.0,80.6,89.2,90.2,71.8,77.000000
Midfield,4,K. De Bruyne,Kevin De Bruyne,91,1991-06-28,181,70,RCM,Midfield,Manchester City,...,86.0,93.0,88.0,64.0,78.0,81.4,88.0,80.0,81.6,82.666667

In [55]:
#delete row
dataset.drop("Midfield", axis = 0).head(5)

,Unnamed: 0,short_name,long_name,overall,age,dob,height_cm,weight_kg,club_position,Position,...,shooting,passing,dribbling,defending,physic,attacking,skill,movement,power,mentality
Position,,,,,,,,,,,,,,,,,,,,,
Forward,0,L. Messi,Lionel Andrés Messi Cuccittini,93,34,1987-06-24,170,72,RW,Forward,...,92.000000,91.000000,95.000000,34.000000,65.000000,85.8,94.0,90.2,77.8,73.833333
Forward,1,R. Lewandowski,Robert Lewandowski,92,32,1988-08-21,185,81,ST,Forward,...,92.000000,79.000000,86.000000,44.000000,82.000000,86.0,81.4,81.6,84.8,80.666667
Forward,2,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,91,36,1985-02-05,187,83,ST,Forward,...,94.000000,80.000000,88.000000,34.000000,75.000000,87.6,83.6,85.4,87.2,74.333333
Forward,3,Neymar Jr,Neymar da Silva Santos Júnior,91,29,1992-02-05,175,68,LW,Forward,...,83.000000,86.000000,94.000000,37.000000,63.000000,80.6,89.2,90.2,71.8,77.000000
GK,5,J. Oblak,Jan Oblak,91,28,1993-01-07,188,87,GK,GK,...,67.472354,72.886256,76.488152,62.721959,73.292259,19.0,21.8,61.4,53.6,34.666667

In [56]:
#unique value of a column
dataset['attacking'].unique()

array([85.8, 86. , 87.6, 80.6, 81.4, 19. , 82.2, 24.8, 23.6, 86.6, 65. ,
       16. , 25.4, 78.8, 77.4, 63.2, 85.2, 80.2, 17.2, 69.4, 75. , 82.4,
       81.8, 79.6, 74.8, 70.6, 56.6, 74.6, 73.8, 76.6, 64.8, 65.2, 81.2,
       84.6, 76. , 18.8, 78.4, 68.8, 61.8, 69.8, 74.4, 55. , 82. , 79.2,
       58.8, 42.6, 65.6, 18.4, 64.2, 67.4, 71.6, 73.4, 77.8, 61.4, 73.6,
       84. , 52. , 72. , 71. , 21. , 16.8, 62.8, 74.2, 67.6, 53.4, 72.8,
       71.2, 24.2, 72.2, 78. , 74. , 80.4, 70.4, 70.2, 67.8, 69. , 22.4,
       76.2, 68.6, 75.2, 66. , 77. , 73.2, 62.2, 72.6, 50.6, 75.8, 57.8,
       14.6, 58.2, 81. , 25.2, 18.2, 78.6, 59.8, 66.6, 14.4, 16.4, 80. ,
       68. , 51.6, 55.2, 60.2, 73. , 51.2, 50.2, 76.4, 11. , 57. , 59. ,
       14.8, 17. , 83.4, 13.8, 15. , 49.4, 53.8, 72.4, 69.2, 70.8, 63.6,
       19.6, 66.4, 20.2, 71.8, 77.2, 52.6, 70. , 16.2, 60. , 65.8, 17.4,
       59.2, 63.4, 66.2, 75.6, 64.6, 56.8, 23. , 63. , 69.6, 79.4, 66.8,
       76.8, 19.8, 77.6, 71.4, 52.4, 56.2, 16.6, 59.4, 15.6, 67. , 61.6,
       53.6, 54.2, 17.6, 64. , 68.4, 23.4, 62. , 19.4, 60.8, 62.4, 75.4,
       21.4, 67.2, 57.4, 46.6, 61.2, 52.8,  8.6, 58.4, 48.8, 58. , 20. ,
       64.4, 63.8, 54.4, 52.2, 18. , 65.4, 15.4, 62.6, 60.6, 47.8, 55.4,
       56.4, 61. , 50.8, 45.6, 49.8, 21.2, 53.2, 58.6, 49. , 25. , 20.4,
       55.6, 18.6, 59.6, 45.2, 15.2, 68.2, 60.4, 51. ])